@use "./transition";
@use "./element-plus";
@use "./sidebar";
@use "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.page-container {
  padding: 3px;
  border-radius: 5px;
  background-color: #fdfdfe;
}
.page-container table {
  width: 100%;
  border-collapse: collapse;
}
.page-container th {
  background-color: #f5f7fa;
}
.custom-container1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
}
.custom-container2 {
  display: flex;
  align-items: flex-start;
  width: 70%;
}
.node-container {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.handle-style {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #1a73e8;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 10;
}

/* cat.vue中按钮切换 */
.mode-toggle {
  display: inline-flex;
  height: 32px;
  padding: 3px;
  background-color: var(--el-fill-color-light);
  border-radius: 12px;
  overflow: hidden;
  border: none;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease;
}
.mode-toggle-v {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px;
  background-color: var(--el-fill-color-light);
  border-radius: 12px;
  overflow: hidden;
  border: none;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease;
}
.mode-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 14px;
  color: var(--el-text-color-regular);
  cursor: pointer;
  transition: all 0.25s ease;
  user-select: none;
}
.mode-item:hover {
  background-color: #e9e9e9;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.mode-item.active {
  background-color: #d8d7d7;
  color: #000000;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.2),
    0 2px 5px rgba(0, 0, 0, 0.2);
}

/* splitter */
.splitter-container {
  display: flex;
  flex-direction: column;
  height: 100%
}

/* link */
.link-text {
  color: pink;
  font-weight: bold;
}